<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRLINX</title>
    <!-- <style>
        @font-face { font-family: "Against-regular"; src: url('/static/fonts/against-regular.ttf'); } 
        h1 {
           font-family: "Against"
        }
      </style> -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <div id="title">
        VIRLINX
        <!-- <img src="/static/images/virlinx.png"></img> -->
    </div>
    <div style="display: flex; justify-content: center; padding-top: 75px; padding-bottom: 75px;">
        <div id="minicont">
            <!-- <div onclick="location.href='/static/pages/info.html'" style="cursor: pointer">Info</div> -->
            <!-- <div onclick="location.href='/static/pages/connect.html'" style="cursor: pointer">Connect</div> -->
            <!-- <div onclick="location.href='/static/pages/developers.html'" style="cursor: pointer">Developers</div> -->
            <!-- <div onclick="location.href='/static/pages/faq.html'" style="cursor: pointer">FAQ's</div> -->
            <!-- <div onclick="location.href='/stopServer'" style="cursor: pointer;">Exit</div> -->

            <div onclick="callinfo('/static/pages/info.html')" style="cursor: pointer">Info</div>
            <div onclick="callinfo('/static/pages/connect.html')" style="cursor: pointer">Connect</div>
            <div onclick="callinfo('/static/pages/developers.html')" style="cursor: pointer">Developers</div>
            <div onclick="callinfo('/static/pages/faq.html')" style="cursor: pointer">FAQ's</div>
            <!-- <div onclick="location.href='/stopServer'" style="cursor: pointer;">Exit</div> -->
        </div>
    </div>

    <div id="container" style="align-items: center;">
        <p>Welcome to VIRLINX!</p>
    </div>
</body>
<script src="/static/scripts/pagechange.js"></script>
</html>