<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virlinx</title>
    <link rel="stylesheet" href="/static/css/rndm.css">

</head>

<body>
    <div class="flex centered fullwidth">
        <div id="sidebar" class="sidebar">
            <div class="button w1 button_clicked" id="w1" onclick="myFunc('window1', this)">Home</div>
            <div class="button" onclick="myFunc('window2', this)">Connect</div>
            <div class="button" onclick="myFunc('window3', this)">Info</div>
            <div class="button" onclick="myFunc('window4', this)">Developers</div>
            <!-- <div class="button" onclick="myFunc('window5', this)">FAQ's</div> -->
        </div>

        <div class="content">
            <div class="window active" id="window0" data-bg-color="#13577e">
                <h2>WELCOME TO VIRLINX</h2>
                <p><b>Objective</b>:To enable users to navigate, interact with, or manipulate digital content through
                    hand
                    movements captured by a camera or other sensor technology.
                </p>
                <p>

                    Gesture Control Technology</b>:Gesture control technology allows users to interact with digital
                    devices
                    using hand movements captured by cameras or sensors, providing hands-free and intuitive interaction.

                </p>

                <p>

                    Benefits of Gesture Control</b>: Gesture control technology offers hands-free interaction with
                    digital
                    devices, enhancing accessibility and user experience across various domains such as gaming,
                    healthcare, and retail.
                </p>

                <p>

                    How It Works</b>: Gesture control technology operates by capturing hand movements through sensors
                    like
                    cameras, then interpreting these gestures using software algorithms to execute commands on digital
                    devices.
                </p>

                <p>

                    User Experience Design</b> : Gesture recognition accuracy, responsiveness, ease of learning, and
                    feedback
                    mechanisms to provide users with a seamless and satisfying interaction experience.
                </p>

                <p>

                    Challenges and Limitations</b> : Challenges and limitations of gesture control technology include
                    environmental factors affecting sensor accuracy, user adaptation to gesture-based interfaces, and
                    privacy concerns regarding data capture.
                </p>
                <p>

                    <b>Future Trends and Developments</b> : Advancements in sensor technology, integration with
                    augmented
                    reality (AR) and virtual reality (VR) platforms, and potential applications in emerging fields like
                    robotics and human-computer interaction.
                </p>
            </div>

            <div class="window" id="window1" data-bg-color="#13577e">
                <h2>Window 1 Content</h2>
            </div>

            <div class="window" id="window2" data-bg-color="#13577e">
                <h2>Connect The Links....</h2>
                <div class="flex centered" id="video">
                    <img id="vid"></img>
                </div>
                <div class="but_cont flex">
                    <div class="vid_buttons centered flex" id="startVid">Start Video</div>
                    <div class="vid_buttons centered flex" id="stopVid">Stop Video</div>
                </div>
            </div>

            <div class="window" id="window3" data-bg-color="#13577e">
                <div class="info">
                    <h2 class="c_head">Connecting the Surroundings</h2>
                    <p class="c_body">VirLinx creates simulates a connected ecosystem which now enables the lecturers to
                        move freely while delivering </p>
                </div>
            </div>

            <div class="window" id="window4" data-bg-color="#13577e">
                <div class="card flex">
                    <a href="https://www.linkedin.com/in/ayush-rathi-574690273/" target="_blank">
                        <img class="card_img" src="/static/images/avatar.png" alt="">
                    </a>
                    <div class="card_details centered">
                        <h2>Ayush Rathi</h2>
                        <h4>Gesture DataSet</h4>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/ayush-rathi-574690273/" target="_blank">
                                <img class="card_socials" src="/static/images/lin.svg" alt="">
                            </a>
                            <a href="https://github.com/ayushrathi250" target="_blank">
                                <img class="card_socials" src="/static/images/git.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card flex">
                    <a href="https://www.linkedin.com/in/vishwesh-patil-b290b9267/" target="_blank">
                        <img class="card_img" src="/static/images/avatar.png" alt="">
                    </a>
                    <div class="card_details centered">
                        <h2>Vishwesh Patil</h2>
                        <h4>Gesture DataSet,<br>Web assembly</h4>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/vishwesh-patil-b290b9267/" target="_blank">
                                <img class="card_socials" src="/static/images/lin.svg" alt="">
                            </a>
                            <a href="https://github.com/vishwesh-04" target="_blank">
                                <img class="card_socials" src="/static/images/git.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card flex">
                    <a href="https://www.linkedin.com/in/prem-rahinj-88216a258/" target="_blank">
                        <img class="card_img" src="/static/images/prem.jpg" alt="">
                    </a>
                    <div class="card_details centered">
                        <h2>Prem Rahinj</h2>
                        <h4>UI<br>Web assembly</h4>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/prem-rahinj-88216a258/" target="_blank">
                                <img class="card_socials" src="/static/images/lin.svg" alt="">
                            </a>
                            <a href="https://github.com/prxm73" target="_blank">
                                <img class="card_socials" src="/static/images/git.svg" alt=""> </a>
                        </div>
                    </div>
                </div>

                <div class="card flex">/static/
                    <a href="https://www.linkedin.com/in/ayush-matkar-344ba8259/" target="_blank">
                        <img class="card_img" src="/static/images/matkar.jpg" alt="">
                    </a>
                    <div class="card_details centered">
                        <h2>Ayush Matkar</h2>
                        <h4>Gesture DataSet,<br>Web assembly</h4>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/ayush-matkar-344ba8259/" target="_blank">
                                <img class="card_socials" src="/static/images/lin.svg" alt="">
                            </a>
                            <a href="https://github.com/ayushmatkar" target="_blank">
                                <img class="card_socials" src="/static/images/git.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="window" id="window5" data-bg-color="#13577e">
        </div>
    </div>
    </div>

    <script src="/static/scripts/rndm.js">
    </script>

</body>

</html>